bin
.vs
.vscode
obj
Properties
Migrations
!wwwroot
wwwroot/Uploads
database.db
release
debug
.qmake.stash
object_script.TakePhotos.Debug
object_script.TakePhotos.Release
Makefile*
*.jpg
*.bmp
Makefile*
*.qm
*.user